<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.example.workdayplanner" />
        <package android:name="com.renewalradar.app" />
        <package android:name="com.fridgefinish.app" />
        <package android:name="com.softsmith.kidchaoscalendar" />
        <package android:name="com.softsmith.iconsmithstudio" />
        <package android:name="com.foldersmith.mobile" />
    </queries>

    <application
        android:theme="@style/AppTheme"
        android:label="SoftSmith DevHub"
        android:icon="@drawable/app_logo"
        android:roundIcon="@drawable/app_logo"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
